<li data-id="<%= message.id %>">
  <div>
    <div><%= message.user %></div>
    <div><%= message.added %></div>
    <a href="/message/<%= message.id %>">Open</a>
  </div>
  <p><%= message.text %></p>
</li>
